h1 {
  color: grey;
  text-align: center;
  font-size: 45px;
  font-family: "Times New Romans", sans-serif;
}

h2 {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: "Helvetica", sans-serif;
}
